Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Werkzeug==0.9.6
dbf==0.95.012
dbfread==2.0.0
enum34==1.0
gnureadline==6.3.3
httplib2==0.9
ipython==2.2.0
itsdangerous==0.24
oauthlib==0.6.3
requests==2.4.3
requests-oauthlib==0.4.1
six==1.8.0
wsgiref==0.1.2
